---
import Layout from '../layouts/default.astro';
import ShopItems from '../components/ShopItems.astro';
---

<Layout>
	<div class="shop">
		<h1>Shop Sandwich Kits</h1>

		<noscript>
			<p>
				JavaScript is required to purchase things from this webstore.To order by
				phone, call <a href="tel:12312312">123123123</a>
			</p>
		</noscript>

		<div class="products">
			<ShopItems />

			<p>TODO:Show cart</p>
		</div>
	</div>
</Layout>

<style>
	.shop {
		padding: 3rem 5%;
	}

	.products {
		align-items: flex-start;
		display: grid;
		gap: 2rem;
		grid-template-columns: 1fr 260px;
		position: relative;
	}
</style>
